[submodule "plugins/pyenv-virtualenv"]
	path = plugins/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
[submodule "plugins/pyenv-pip-migrate"]
	path = plugins/pyenv-pip-migrate
	url = https://github.com/pyenv/pyenv-pip-migrate.git
[submodule "plugins/pyenv-virtualenv-migrate"]
	path = plugins/pyenv-virtualenv-migrate
	url = https://github.com/ashwinvis/pyenv-virtualenv-migrate.git
